flask
flask-cors
chromadb
google-genai
langchain
langchain-community
langchain-text-splitters
python-dotenv
tiktoken
pypdf
ddgs
mne
numpy
scipy
PyWavelets
tensorflow
Pillow
scikit-learn
matplotlib
pytest
gunicorn
